<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>




<center>

<h1>CLINICAL MANAGEMENT SYSTEM</h1></br></br>

<form action="User_controller">
Enter Name of the clinic:<input type="text" name="name" required="true"></br></br>
Enter Email:<input type="email" name="email" required="true"></br></br>
Enter Address of the clinic:<input type="text" name="address" required="true"></br></br>
Enter Name of the doctor:<input type="text" name="doctor" required="true"></br></br>
Enter Contact_details:<input type="text" name="contact" required="true"  min="10" maxlength="10" ></br></br>
 
<input type="submit" value="click"></br></br>


</form>

</center>

</body>
</html>